button{
    background-color:orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    width: 80px;
    height: 30px;
    border: black 1px solid;
    border-radius: 3px;
    
}